include README.rst CHANGES LICENSE NOTICE
recursive-include src/selena/boards/static *
recursive-include src/selena/boards/templates *
recursive-include src/selena/selena/static *
recursive-include src/selena/selena/templates *
